@using System.Globalization
@model IngredientCalculator.Models.RecipeIngredientInfo

@using (Html.BeginForm("Edit", "RecipeIngredients", FormMethod.Post, new { id = Model.RecipeIngredientsId }))
{
<tr>
    <td>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.Hidden("RecipeIngredientsId", Model.RecipeIngredientsId)
                @Html.EditorFor(model => model.IngredientAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IngredientAmount, "", new { @class = "text-danger" })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Unit.Id, new SelectList(ViewBag.Units, "Id", "UnitName"))
                @Html.ValidationMessageFor(model => model.Unit.Id, "", new { @class = "text-danger" })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Ingredient.Id, new SelectList(ViewBag.Ingredients, "Id", "IngredientName"))
                @Html.ValidationMessageFor(model => model.Ingredient.Id, "", new { @class = "text-danger" })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DisplayText(Model.Cost.ToString(CultureInfo.InvariantCulture))
            </div>
        </div>
    </td>
    <td>
        <div class="col-md-offset-2 col-md-10">
            <div>
                @using (Html.BeginForm("Edit", "RecipeIngredients", FormMethod.Post, new {id = Model.RecipeIngredientsId}))
                {
                    @Html.Hidden("RecipeIngredientsId", Model.RecipeIngredientsId)
                    @Html.Hidden("RecipeId", Model.RecipeId)
                    <input type="submit" value="Update item" onclick="location.href = '@Url.Action("UpdateIngredientLineItem", "RecipeIngredients", new {id = Model.RecipeIngredientsId})'"/>
                }
            </div>
        </div>
    </td>
    <td>
        <div class="col-md-offset-2 col-md-10">
            <div>
                @using (Html.BeginForm("RemoveIngredientLineItem", "RecipeIngredients", FormMethod.Post, new {id = Model.RecipeIngredientsId}))
                {
                    @Html.Hidden("RecipeIngredientsId", Model.RecipeIngredientsId)
                    @Html.Hidden("RecipeId", Model.RecipeId)
                    <input type="submit" value="Remove item" onclick="location.href = '@Url.Action("RemoveIngredientLineItem", "RecipeIngredients", new {id = Model.RecipeIngredientsId})'"/>
                }
            </div>
        </div>
    </td>
</tr>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
